{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<div class="container">
    <h1>Beneficiários</h1>
    <a class="btn btn-primary" href="{% url 'add_beneficiario' %}">Novo Beneficiário</a>
    <br><br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for p in page_obj %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nome }}</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{% url 'upd_beneficiario' p.pk %}">Editar</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'del_beneficiario' p.pk %}">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'paginacao.html' %}
</div>

{% endblock %}