{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="style_div_1" class="style_beneficiarios">
    <a class="btn btn-primary" href="{% url 'add_beneficiario' %}">Novo Beneficiário</a>
    <a class="btn btn-success" href="{% url 'index' %}">Sair</a>

    <table id= 'tabela' class="mytable">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for p in page_obj %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nome }}</td>
                <td>
                    <a class="" href="{% url 'upd_beneficiario' p.pk %}"> <img
                            src="{% static '/images/botaoaltera.gif' %}"></a>

                    <a class="" href="{% url 'del_beneficiario' p.pk %}"> <img
                            src="{% static '/images/botaoeliminar.gif' %}"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'paginacao.html' %}
</div>

{% endblock %}