{% extends 'base.html' %}

{% block content %}

<div class="container" id="customers">
    <h1>Beneficiários</h1>
    <a class="btn btn-primary" href="{% url 'add_beneficiario' %}">Novo Beneficiário</a>
    <a class="btn btn-warning" href="{% url 'index' %}">Retornar</a> <br><br>
    <table class="table table-hover mytable ">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for p in page_obj %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nome }}</td>
                <td>
                    <a class="" href="{% url 'upd_beneficiario' p.pk %}">Alt</a>
                    <a class="" href="{% url 'del_beneficiario' p.pk %}">Del</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    {% include 'paginacao.html' %}
</div>

{% endblock %}